<div class="text-center">
  <h2>{{post.title}}</h2>
 
  <p>Blog Post by: {{post.user.user_name}} on {{format_date post.date_created}}</p>
  <div>
     <p>{{blog_post}}</p>
  </div
    <button class="btn btn-primary">Write Comment</button>
  </p>
</div>
